name: AutoBuild .NET

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        config: [Windows, Android]
    steps:
      - uses: actions/cache@v4
        with:
          path: |
            ~/.nuget/packages
            ~/.cache/bepinex
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.x

      - name: Build ${{ matrix.config }}
        run: dotnet build TheOtherRoles/TheOtherRoles.csproj --configuration ${{ matrix.config }}

      - name: Upload artifact for ${{ matrix.config }}
        uses: actions/upload-artifact@v4
        with:
          name: TheOtherRoles-${{ matrix.config }}
          path: TheOtherRoles/bin/${{ matrix.config }}/net6.0/TheOtherRoles.dll